<style>
    body {
        font-family: 'Times New Roman', Times, serif
    }

    .form-white.input-group>.form-control:focus {
        border-color: #fff;
        box-shadow: inset 0 0 0 1px #fff;
    }


    .intro {
        height: 100%;
    }

    table td,
    table th {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    }

    th {

        width: 1000px;
        height: 10px;
       

    }


    .card {
        border-radius: .4rem;
        margin-top: 2%;


    }

    .mask-custom {
        background: rgba(24, 24, 16, .2);
        border-radius: 2em;
        backdrop-filter: blur(25px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
</style>


<app-nav-bar></app-nav-bar>
<body class="" style=" background-color: red; background-image: linear-gradient(rgb(200, 200, 240), white)">
    <hr>
    <div class="container mt-3" style="font-family: 'Times New Roman', Times, serif ">
        <h1>Deposite Release Request Form T+2</h1>

</div>
        <hr>
<div class="container mt-3">

        <div class="card " style="background-color: #f5f7f8;">
            <form class="mt-5 mb-5">
                <div class="row container ml-5">
                    <div class="col-3 ml-5"> <label class="form-label" for="form6Example4"><b>Enter File Name For
                                Upload</b></label>
                    </div>
                    <div class="form-outline col-4">
                        <input type="file" id="formControlSm" class="form-control form-control-sm" />
                    </div>
                </div>
                <br>

                <div class="row container ml-5">
                    <div class="col-3 ml-5">
                        <label class="visually-hidden" for="inlineFormSelectPref"><b>Participant type</b></label>
                    </div>

                    <div class="col-2">
                        <select class="select">
                            <option value="1">Financier</option>
                            <option value="2">Financee</option>
                            <option value="3">All</option>
                        </select>
                    </div>

                </div>
                <br>
                <div class="row ml-5">

                    <div class="col-2 ml-5">
                        <button type="Release" class="btn btn-block"
                            style="background-color: rgb(63, 71, 124);color: #f5f7f8;">Upload</button>
                    </div>
                    <div class="col-3 ml-3"></div>
                    <div class="col-2">
                        <button type="Exit" class="btn btn-block"
                            style="background-color: rgb(63, 71, 124);color: #f5f7f8;">Exit</button>
                    </div>
                </div>
            </form>
        </div>


<hr>
        <div>
            <h2>Uploaded Data</h2>
        </div>
        <hr>
    </div>
        <div class="container mt-3">
        <div class="card" style="background-color: #f5f7f8">
            <div class="ml-3 mb-3 mr-3 mt-3">
                <table>
                    <tr>
                        <th>Participant ID</th>
                        <th>Symbol</th>
                        <th>UIN</th>
                        <th>Sub Acc.</th>
                        <th>Quantity</th>
                        <th>Remarks</th>
                    </tr>
                    <tr>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                    </tr>
                    <tr>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                    </tr>
                    <tr>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                    </tr>
                    <tr>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                    </tr>
                    <tr>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                    </tr>
                    <tr>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                    </tr>
                    <tr>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                    </tr>
                    <tr>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="number" id="formControlSm" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="formControlSm" class="form-control form-control-sm" /></td>
                    </tr>


                </table>
            </div>


        </div>
    </div>
    <div class="card-footer px-lg-5 py-lg-4">

        <div class="text-sm text-muted" style="text-align: center">privacy policy nccpl pakistan</div>

    </div>

</body>