<style>
    body {
        font-family: 'Times New Roman', Times, serif
    }

    .form-white.input-group>.form-control:focus {
        border-color: #fff;
        box-shadow: inset 0 0 0 1px #fff;
    }


    .intro {
        height: 100%;
    }


    .card {
        border-radius: .4rem;
        margin-top: 10%;
        width: 750px;
        height: 200px;


    }

    .mask-custom {
        background: rgba(24, 24, 16, .2);
        border-radius: 2em;
        backdrop-filter: blur(25px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
</style>
<app-nav-bar></app-nav-bar>

<body class="" style=" background-color: red; background-image: linear-gradient(rgb(200, 200, 240), white)">
    <hr>
    <div class="container  " style="font-family: 'Times New Roman', Times, serif">
        <h1 style="margin-left: 300px">Cash Allocation Request Report</h1>

    </div>
    <hr>
    <div class="card container">
        <form class="container">
        <div class="row container ml-5 mt-5">
            <div class="col-4 ml-5">
                <label class="visually-hidden-" for="inlineFormSelectPref"><h5><b>Participant Type</b></h5></label>
            </div>

            <div class="col-2 ml-5">
                <select class="select">
                    <option value="1">Financier</option>
                    <option value="2">Financee</option>
                    <option value="3">All</option>
                </select>
            </div>

        </div>
        <br>
        <div class="row ml-5">

            <div class="col-2 " style="margin-left: 63px">
                <button type="button" class="btn btn-block"
                    style="background-color: rgb(63, 71, 124);color: #f5f7f8;" >Report</button>
            </div>
            <div class="col-1"></div>
            <div class="col-2" style="margin-left: 110px">
                <button type="button" class="btn btn-block"
                    style="background-color: rgb(63, 71, 124);color: #f5f7f8;">Exit</button>
            </div>
        </div>
        </form>
    </div>
    
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="card-footer px-lg-5 py-lg-4">

        <div class="text-sm text-muted" style="text-align: center">privacy policy nccpl pakistan</div>

    </div>

</body>


